---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Calendly from '../components/Calendly.astro';
import { headerData } from '~/data';

const meta = {
  title: 'Free Penetration Test',
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="right" />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- callToAction={{ text: 'What we offer', href: '', icon: 'tabler:arrow-down' }} -->
  <Hero>
    <Fragment slot="title">
      Claim your free penetration test
      <span class="text-accent dark:text-white highlight mb-1"></span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="block sm:hidden font-bold text-blue-600"></span>
      As a new agency, we provide a limited offer for the first 10 clients. 
      Our team of professionals will conduct a thorough security assessment of your web/mobile application and provide a high quality, concise report at the end. 
      Strengthen your defenses now. 
      Contact us to secure your spot!
    </Fragment>
  </Hero>
  <Calendly />
</Layout>
