---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Calendly from '../components/Calendly.astro';
import { headerData } from '~/data';

const meta = {
  title: 'Free penetration test',
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="left" />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- callToAction={{ text: 'What we offer', href: '', icon: 'tabler:arrow-down' }} -->
  <Hero>
    <Fragment slot="title">
      Your free penetration test
      <span class="text-accent dark:text-white highlight mb-8"></span>
    </Fragment>
    <Fragment slot="image">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dsTXcSeAZq8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        style="width:100%"></iframe>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      We are a new agency so we are offering a limited offer for the first 10 clients. We'll assess your network, web apps,
      and our signature mobile app security assessment. Strengthen your defenses now. Contact us to secure your spot!
    </Fragment>
  </Hero>
  <Calendly />
</Layout>
