---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction2={{ text: 'Learn cybersecurity', href: '/blog' }}
    image={{ src: import('~/assets/images/hero.jpg'), alt: 'AstroWind Hero Image' }}
  >
    f
    <Fragment slot="title">
      Your
      <span class="text-accent dark:text-white highlight">Cybersecurity Ally</span>
      For Your Peace of Mind.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Starship Shield</span> is here to make your life easier. We protect your digital assets
        and secure all your services. Join us on your first cybersecurity journey.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Stats
    items={[
      { name: 'Clients', value: '3' },
      { name: 'Years of experience', value: '10+' },
      { name: 'Team size', value: '4' },
    ]}
  />
  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    highlight="Why should you care?"
    title="STARSHIP SHIELD"
    items={[
      {
        title: 'Are you striving to improve your reputation?',
        description:
          'Notifying customers of a data breach and potential financial information compromise can make them hesitant to continue doing business with you.',
      },
      {
        title: 'Do you have remote employees?',
        description: 'Scary fact is that 20% of organizations faced a security breach as a result of a remote worker.',
      },
      {
        title: 'Do you store sensitive data?',
        description: 'The average cost of a data breach in 2022 was just under $4.35 million. That’s an all-time high.',
      },
    ]}
    image={{
      src: import('~/assets/images/interior_spaceship.jpeg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The fight never stops.</h3>

      Cybersecurity attacks are on the rise worldwide, with a significant portion targeting smaller businesses. In fact,
      studies show that approximately 43% of all cyberattacks target small enterprises.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Steps
    title="Secure your application with 3 easy steps."
    items={[
      {
        title: 'Undrestanding the  <span class="font-medium">scope </span>',
        description:
          "Our team of skilled professionals specializes in providing customized freelance solutions tailored to meet your application's unique needs. From web development and mobile apps to software testing and cybersecurity, we've got you covered.",
        icon: 'tabler:package',
      },
      {
        title: 'Security <span class="font-medium">Assessment</em>',
        description:
          "Don't leave your application vulnerable to malicious attacks. Our freelance cybersecurity experts are equipped with cutting-edge techniques to identify vulnerabilities and potential entry points in your system.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Learning and Patching <span class="font-medium">Bugs</span> Together',
        description:
          'We believe in empowering our clients with knowledge. Our freelance professionals not only offer exceptional bug fixing services but also take the time to educate you about the issues encountered. ',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/tank.jpeg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What do we have to offer?"
    highlight="STARSHIP SHIELD"
    items={[
      {
        title: 'Web Application Assessment',
        description:
          '<b>Blackbox</b> testing mimics real-world attacks on web sites without prior knowledge. <br><b>Whitebox</b> testing involves analyzing source code and internal components for a detailed evaluation.',
        icon: 'logos:chrome',
      },

      {
        title: 'Mobile Application Assessment',
        description:
          '<b>Blackbox</b> testing simulates real-world attacks on mobile apps without prior knowledge. <br><b>Whitebox</b> testing involves analyzing source code and internal components for in-depth evaluation.',
        icon: 'twemoji:mobile-phone',
      },
      {
        title: 'Network Assessment',
        description:
          '<b>Networking assessments</b> involve evaluating the security of network infrastructure, including perimeter defenses, routers, and devices.',
        icon: 'flat-color-icons:broken-link',
      },
      {
        title: 'Social Engineering',
        description:
          'We teach our clients to recognize and avoid social engineering attacks, where hackers manipulate people to access sensitive information.',
        icon: 'twemoji:people-wrestling',
      },
      {
        title: 'Consulting',
        description:
          'We consult and teach our clients about application and network security, sharing our expertise. We review their incident response plans and craft strong procedures for handling incidents effectively.',
        icon: 'twemoji:teacher',
      },
      {
        title: 'Intrusion Detection',
        description:
          'Safeguard your digital assets with our advanced system that proactively monitors and identifies unauthorized access attempts, ensuring the security and integrity of your network and data.',
        icon: 'flat-color-icons:fine-print',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Defeat your dark side"
    information={`Stay informed and empowered with our insightful articles, expert tips, and industry updates. Explore the latest trends, best practices, and emerging threats to enhance your knowledge and protect your digital presence.
                `}
  />

  <!-- FAQs Widget ******************* -->
</Layout>
