---
---

<div class="relative w-32 h-16">
  <img class="dark:block hidden absolute" src="/images/whitelogo.png" width="150" height="100" />
  <img class="dark:hidden block absolute" src="/images/blacklogo.png" width="150" height="100" />
</div>
